<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find vls_description)/urdf/VLS-128.urdf.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>
    <!-- Load the ZED xacro macro -->
    <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />

    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find sample_sensor_kit_description)/config"/>

    <xacro:arg name="camera_name_1"   default="zed_front" /> <!-- zed_front/camera -->
    <xacro:arg name="camera_name_2"   default="zed_right" />
    <xacro:arg name="camera_name_3"   default="zed_rear" />
    <xacro:arg name="camera_name_4"   default="zed_left" />
    <xacro:arg name="camera_model_1"  default="zed2i" />
    <xacro:arg name="camera_model_2"  default="zed2i" />
    <xacro:arg name="camera_model_3"  default="zed2i" />
    <xacro:arg name="camera_model_4"  default="zed2i" />
    <xacro:arg name="use_zed_localization" default="false" />

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- declare joint xacro to avoid repetition -->
    <xacro:macro name="static_tf_macro" params="name parent child x y z roll pitch yaw">
      <joint name="${name}" type="fixed">
        <origin
          xyz="${x}
               ${y}
               ${z}"
          rpy="${roll}
               ${pitch}
               ${yaw}"
        />
        <parent link="${parent}"/>
        <child link="${child}"/>
      </joint>
<!--      <link name="camera_link">-->
<!--        <origin rpy="0 0 0" xyz="0 0 0"/>-->
<!--      </link>-->
    </xacro:macro>

    <!-- lidar -->
    <xacro:macro name="livox_lidar_macro" params="parent x y z roll pitch yaw">
      <joint name="livox_joint" type="fixed">
        <origin
          xyz="${x}
               ${y}
               ${z}"
          rpy="${roll}
               ${pitch}
               ${yaw}"
        />
        <parent link="${parent}"/>
        <child link="livox_link"/>
      </joint>
      <link name="livox_link">
<!--        <origin rpy="0 0 0" xyz="0 0 0"/>-->
      </link>

      <joint name="livox_imu_link" type="fixed">
        <origin
          xyz="${calibration['sensor_kit_base_link']['livox_imu_link']['x']}
               ${calibration['sensor_kit_base_link']['livox_imu_link']['x']}
               ${calibration['sensor_kit_base_link']['livox_imu_link']['x']}"
          rpy="0 0 0"
        />
        <parent link="livox_link"/>
        <child link="livox_link" />
      </joint>
      <link name="livox_imu_link">
<!--        <origin rpy="0 0 0" xyz="0 0 0"/>-->
      </link>
    </xacro:macro>

    <xacro:livox_lidar_macro
      parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['livox_link']['x']}"
      y="${calibration['sensor_kit_base_link']['livox_link']['y']}"
      z="${calibration['sensor_kit_base_link']['livox_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['livox_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['livox_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['livox_link']['yaw']}"
    />

    <!-- cameras -->
    <!-- Add the first ZED Camera -->
    <xacro:zed_camera name="$(arg camera_name_1)" model="$(arg camera_model_1)" />
    <!-- Add the second ZED Camera -->
    <xacro:zed_camera name="$(arg camera_name_2)" model="$(arg camera_model_2)" />
    <xacro:zed_camera name="$(arg camera_name_3)" model="$(arg camera_model_3)" />
    <xacro:zed_camera name="$(arg camera_name_4)" model="$(arg camera_model_4)" />

    <!-- Add the joints to connect the ZED Cameras to the robot -->
    <xacro:if value="$(arg use_zed_localization)">
      <!-- ZED Localization -> The reference link is '$(arg camera_name_1)_camera_link' and 'base_link' is a child -->
      <xacro:static_tf_macro
            name="$(arg camera_name_1)_joint"
            parent="$(arg camera_name_1)_camera_link"
            child="sensor_kit_base_link"
            x="-${calibration['sensor_kit_base_link']['zed_front/camera_link']['x']}"
            y="${calibration['sensor_kit_base_link']['zed_front/camera_link']['y']}"
            z="-${calibration['sensor_kit_base_link']['zed_front/camera_link']['z']}"
            roll="${calibration['sensor_kit_base_link']['zed_front/camera_link']['roll']}"
            pitch="${calibration['sensor_kit_base_link']['zed_front/camera_link']['pitch']}"
            yaw="${calibration['sensor_kit_base_link']['zed_front/camera_link']['yaw']}"
      />
    </xacro:if>
    <xacro:unless value="$(arg use_zed_localization)">
      <!-- NO ZED Localization -> '$(arg camera_name)_camera_link' is a child of 'base_link' -->
      <xacro:static_tf_macro
            name="$(arg camera_name_1)_joint"
            parent="sensor_kit_base_link"
            child="$(arg camera_name_1)_camera_link"
            x="${calibration['sensor_kit_base_link']['zed_front/camera_link']['x']}"
            y="${calibration['sensor_kit_base_link']['zed_front/camera_link']['y']}"
            z="${calibration['sensor_kit_base_link']['zed_front/camera_link']['z']}"
            roll="${calibration['sensor_kit_base_link']['zed_front/camera_link']['roll']}"
            pitch="${calibration['sensor_kit_base_link']['zed_front/camera_link']['pitch']}"
            yaw="${calibration['sensor_kit_base_link']['zed_front/camera_link']['yaw']}"
      />
    </xacro:unless>
    <!-- Add the joint of the second camera -->
    <xacro:static_tf_macro
      name="$(arg camera_name_2)_joint"
      parent="sensor_kit_base_link"
      child="$(arg camera_name_2)_camera_link"
      x="${calibration['sensor_kit_base_link']['zed_right/camera_link']['x']}"
      y="${calibration['sensor_kit_base_link']['zed_right/camera_link']['y']}"
      z="${calibration['sensor_kit_base_link']['zed_right/camera_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['zed_right/camera_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['zed_right/camera_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['zed_right/camera_link']['yaw']}"
    />

    <!-- Add the joint of the third camera -->
    <xacro:static_tf_macro
      name="$(arg camera_name_3)_joint"
      parent="sensor_kit_base_link"
      child="$(arg camera_name_3)_camera_link"
      x="${calibration['sensor_kit_base_link']['zed_rear/camera_link']['x']}"
      y="${calibration['sensor_kit_base_link']['zed_rear/camera_link']['y']}"
      z="${calibration['sensor_kit_base_link']['zed_rear/camera_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['zed_rear/camera_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['zed_rear/camera_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['zed_rear/camera_link']['yaw']}"
    />

    <!-- Add the joint of the fourth camera -->
    <xacro:static_tf_macro
      name="$(arg camera_name_4)_joint"
      parent="sensor_kit_base_link"
      child="$(arg camera_name_4)_camera_link"
      x="${calibration['sensor_kit_base_link']['zed_left/camera_link']['x']}"
      y="${calibration['sensor_kit_base_link']['zed_left/camera_link']['y']}"
      z="${calibration['sensor_kit_base_link']['zed_left/camera_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['zed_left/camera_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['zed_left/camera_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['zed_left/camera_link']['yaw']}"
    />

    <!-- gnss -->
    <xacro:imu_macro
      name="yahboo_gnss"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['yahboom/gnss_link']['x']}"
      y="${calibration['sensor_kit_base_link']['yahboom/gnss_link']['y']}"
      z="${calibration['sensor_kit_base_link']['yahboom/gnss_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['yahboom/gnss_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['yahboom/gnss_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['yahboom/gnss_link']['yaw']}"
      fps="10"
    />

    <!-- imu -->
    <xacro:imu_macro
      name="yahboo_imu"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['yahboom/imu_link']['x']}"
      y="${calibration['sensor_kit_base_link']['yahboom/imu_link']['y']}"
      z="${calibration['sensor_kit_base_link']['yahboom/imu_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['yahboom/imu_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['yahboom/imu_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['yahboom/imu_link']['yaw']}"
      fps="200"
    />

    <!-- gps processor. The board that processes received signals. Only needed for visualization -->
    <xacro:imu_macro
      name="yahboo_gps_processor"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['yahboom/gps_processor_link']['x']}"
      y="${calibration['sensor_kit_base_link']['yahboom/gps_processor_link']['y']}"
      z="${calibration['sensor_kit_base_link']['yahboom/gps_processor_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['yahboom/gps_processor_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['yahboom/gps_processor_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['yahboom/gps_processor_link']['yaw']}"
      fps="10"
    />

  </xacro:macro>
</robot>
